.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
    /* we override the main container padding property  */
}

.section-navbar img {
    width: 25%;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;
    text-transform: capitalize;
    align-items: center;

    & li a {
        color: var(--heading-color);
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.1rem solid var(--main-color);
            transition: all 0.3s linear;
        }
    }

    & li a:hover {
        color: var(--main-color);
    }

    & li a:hover:after {
        width: 100%;
    }
}

.section-navbar .navbar ul li .add-to-cart-button,
.contact-btn,
.hero-btn a{
    font-weight: 500;
    font: inherit;
    border-radius: 6px;
    border: 0;
    padding: 1rem 2.8rem;
    background-color: var(--buttonColor);
    color: var(--backgroundColor);
    font-size: 1.6rem;

    &:hover {
        box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.16),
            inset 0px 0px 0px 3px rgb(51, 51, 51);
        background-color: var(--backgroundColor);
        color: var(--buttonColor);
        cursor: pointer;
    }

    .fa-cart-shopping {
        padding-right: 1rem;
    }
}