.div-extra {
    padding: 3.2rem 2.4rem;
    background-color: var(--backgroundSecondary);
    position: relative;
    /* box-shadow: inset 0 0 0 4rem #000; */
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 15rem;
        height: 15rem;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
        background-color: var(--borderColor);
        z-index: 1;
    }

    & p {
        text-transform: uppercase;
        font-size: 1.4rem;
        color: #1f36b9;
    }

    & h3 {
        font-size: 2.4rem;
        text-transform: capitalize;
        margin: 0.6rem 0 1.6rem 0;
    }

    & a {
        text-transform: uppercase;
        color: var(--buttonColor);
        border-bottom: 0.1rem solid var(--secondaryColor);
    }

    & .extra-img {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        & img {
            width: 18rem;
            filter: drop-shadow(5px 8px 24px rgba(25, 76, 127, 0.2));
            -webkit-filter: drop-shadow(5px 8px 24px rgba(25, 76, 127, 0.2));
        }
    }

    & img {
        max-width: 100%;
        width: 30%;
        height: auto;
    }

    &:last-child img {
        transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
    }

    & .extra-laptop img {
        width: 28rem;
        height: auto;
    }
}

.grid-three-cols {
    gap: 6.4rem;

    & :div {
        justify-self: left;
    }
}

.div-extra {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}