footer {
    width: 100%;
    background: var(--buttonColor);
    color: var(--backgroundColor);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: 6.4rem;
}

.footer-container .content_1 img {
    height: auto;
    width: 15rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
}

.footer-container h4 {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
}

.footer-container a {
    display: block;
    text-decoration: none;
    color: #cccccc;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
    color: #cccccc;
    margin: 2.5rem 0;
    font-size: 1.4rem;
}

.footer-container .content_4 input[type="email"] {
    background-color: var(--textColor);
    border: none;
    color: var(--backgroundColor);
    outline: none;
    padding: 1.4rem 0.8rem;
    width: 100%;
}

.footer-container .content_4 .f-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .content_4 .bx {
    color: var(--white);
}

.f-design {
    width: 100%;
    color: var(--white);
    text-align: center;
}

.f-design .f-design-txt {
    border-top: 1px solid var(--secondaryColor);
    padding: 1.6rem 0;
    color: var(--secondaryColor);
}