.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2.5rem;
    width: 36rem;
    padding: 1.6rem;
    margin: 1.8vh auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
}

.category {
    background-color: #e7d6d6;
    padding: 0.3rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}

.productImage {
    max-width: 100%;
    width: 32rem;
    height: auto;
}

.productPriceElement,
.productQuantityElement,
.productStockElement {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.productPriceElement {
    margin: 0.8rem 0;
}

.productProperty,
.productDescription {
    font-size: 1.6rem;
}

.stockElement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: 0.2rem solid var(--borderColor);
    border-radius: 0.8rem;
    margin: 0.8rem 0;

    & button {
        background-color: transparent;
        color: var(--buttonColor);
        font-size: 2rem;
        padding: 0.6rem 2rem;
        font-weight: bold;
        border: none;

        &:hover {
            cursor: pointer;
        }

        &:first-child {
            border-right: 0.1rem solid var(--borderColor);
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }

        &:last-child {
            border-left: 0.1rem solid var(--borderColor);
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
    }

    .productQuantity {
        padding: 0rem 3rem;
        margin: 0;
        font-weight: bold;
    }
}