.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.top_txt {
    background-color: var(--buttonColor);
    color: var(--backgroundColor);

    & .head_txt p {
        font-size: 1.5rem;
    }

    & .sign_in_up {
        display: flex;
        gap: 3.2rem;
    }
}