.section-why--choose .grid {
    gap: 9.6rem;
    align-items: center;
}

.why-choose--div {
    margin-bottom: 3.2rem;
}

.section-why--choose .text-align--right .why-choose--div {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.section-why--choose .text-align--left .why-choose--div {
    align-items: start;
}

.common-text--highlight {
    color: var(--main-color);
    width: 6rem;
    height: 6rem;
    background-color: var(--supporting-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 2.4rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-choose--div .section-common--title {
    margin-top: 1.2rem;
}

.choose-center-div,
.choose-center-div figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-origin: center;
}

.choose-center-div figure::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
    animation: circle 5s linear infinite;
    -webkit-animation: circle 5s linear infinite alternate;
}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }
}

.choose-center-div figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0.5rem solid var(--supporting-color);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}

.choose-center-div img {
    width: 90%;
    height: auto;
}