@media (width <=1380px) {
    html {
        font-size: 56.25%;
    }

    .section-hero img {
        width: 90%;
    }
}

@media (width <=1220px) {
    html {
        font-size: 54%;
    }

    :is(.section-about,
        .section-blog,
        .section-course,
        .section-contact--homepage,
        .section-why--choose) .grid {
        gap: 6.4rem;
    }

    .choose-center-div figure::after {
        width: 46rem;
        height: 46rem;
    }
}

@media (width <=1100px) {
    .grid-four--cols {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }

    .custom-shape-divider-bottom-1696038172 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 8rem;
    }

    .section-why--choose {
        & .choose-left-div {
            order: 2;
        }

        & .choose-center-div {
            order: 1;

            & figure::before {
                width: 0;
                height: 0;
                background-color: transparent;
                display: none;
            }

            & figure::after {
                width: 0;
                height: 0;
                background-color: transparent;
                display: none;
            }
        }

        & .choose-right-div {
            order: 3;
        }
    }

    .contact-title {
        font-size: 2.4rem;
    }

    .section-contact .grid-two--cols {
        grid-template-columns: 2fr 1.5fr;
        gap: 3.2rem;
    }
}

@media (width <=980px) {
    body {
        padding: 0 0.6rem;
    }

    .section-products #productContainer {
        grid-template-columns: repeat(2, minmax(33%, 1fr));
    }

    .section-hero .hero-heading {
        font-size: 4.4rem;
    }

    footer {
        padding: 0 1.6rem;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(33%, 1fr));

        & .content_1 {
            grid-column: 1 / -1;
            margin-bottom: 3.2rem;
        }

        & .content_4 {
            margin-top: 3.2rem;
        }
    }

    main .section-hero {
        height: auto;

        & .grid-two--cols {
            grid-template-columns: 1fr;
        }
    }

    .section-hero .section-hero--content {
        order: 2;
    }

    .section-hero .section-hero-image {
        display: grid;
        place-items: center;

        & figure {
            display: grid;
            place-items: center;
        }
    }

    .section-hero img {
        width: 40%;
    }

    .section-about .about-div {
        text-align: left;
        padding: 0;
    }
}

@media (width <=768px) {
    .grid-two--cols {
        grid-template-columns: 1fr;
    }

    .section-contact .grid-two--cols {
        grid-template-columns: 1fr;
    }

    .grid-three--cols {
        grid-template-columns: 1fr;
    }

    .section-hero .hero-heading {
        font-size: 1.5rem;
    }

    .section-products #productContainer {
        grid-template-columns: repeat(1, minmax(33%, 1fr));
    }

    #productCartContainer .card {
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 0.1fr repeat(2, 1fr);
        align-items: center;
        gap: 3.2rem;
    }

    .productQuantity {
        text-align: center;
    }

    .stockElement {
        grid-column: 1 / 4;
    }

    .remove-to-cart-button {
        grid-column: 4 / -1;
    }


    .section-navbar .container {
        flex-direction: column;
        gap: 3.2rem;
    }

    .section-why--choose {
        & img {
            width: 30%;
        }

        & .grid {
            gap: 1.4rem;
        }

        & .text-align--right .why-choose--div {
            align-items: flex-start;
        }

        & .choose-left-div {
            text-align: left;
        }
    }

    .section-contact--homepage .btn {
        display: block;
        text-align: center;
    }

    :is(.section-contact--homepage) .container:first-child {
        padding: 6.4rem 0rem 2.4rem 0rem;
    }
}