* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --buttonColor: #2a2c30;
    --secondaryColor: #4b4f56;
    --borderColor: #e3eaf0;
    --backgroundColor: #f7f7f7;
    --backgroundSecondary: #fefefe;
    --textColor: #1e1f23;
    --anchorColor: #535bf2;
    --main-color: #535bf2;
    --supporting-color: #ebf3fe;
    --glow-color: hsl(186, 91%, 4%);
}

html {
    font-size: 62.5%;
    color: var(--textColor);
}

body {
    margin: 0 auto;
    padding: 0 32px;
    min-width: 320px;
    background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    color: var(--textColor);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 3.2rem;
}

p,
li,
a,
label {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: var(--para-color);
    line-height: 1.5;
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    color: #646cff;
    text-decoration: none;

    &:hover {
        color: #535bf2;
    }
}

::placeholder {
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

/*! layout */
.container {
    max-width: 102rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

:is(.section-extra-product,
    .section-blog,
    .section-policy,
    .section-contact--homepage,
    .section-why--choose,
    .section-contact,
    footer) .container:first-child {
    padding: 6.4rem 0 2.4rem 0;
}

.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
}


/*! module / reusable  */

.btn {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    text-transform: capitalize;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.section-common--title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

/* states  */

.btn:hover {
    background-color: var(--bnt-hover-bg-color);
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
}

.btn:focus-visible,
input:focus-visible,
textarea:focus-visible {
    outline: 2px solid var(--para-color);
}

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

main {
    height: 100vh;
    position: relative;
    background-color: #d9e9ff;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}