.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
    /* we override the main container padding property  */
}

.section-navbar img {
    width: 25%;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;
    text-transform: capitalize;
    align-items: center;

    & li a {
        color: var(--heading-color);
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.1rem solid var(--main-color);
            transition: all 0.3s linear;
        }
    }

    & li a:hover {
        color: var(--main-color);
    }

    & li a:hover:after {
        width: 100%;
    }
}